@model DirectorTable
<title>View Directors </title>

<h2>Directors</h2>
<form method="get">
    <div>
        <p>Filter by name</p>
        <input type="text" name="Name" id="Name">
        <button type="submit" value="Search" class="btn btn-outline-dark">Search</button>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        @foreach (var director in ViewBag.DirectorList)
        {
            <tr>
                <th scope="col">@director.Id</th>
                <td>@director.Name</td>
                <td>@director.Gender</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = director.Id })</td>
            </tr>
        }

    </table>
</form>
