<title>Add Producer</title>

<form method="post" action="@Url.Action("AddProducer","Producer")">
    <div>
        <p>Name</p>
        <input name="Name" id="Name" placeholder="Enter a name">
    </div>
    <div>
        <p>Adress</p>
        <input name="Adress" id="Adress" placeholder="Adress">
    </div>
    <br>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>